<!DOCTYPE html>
<!--[if lt IE 9]>      <html class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ this.page.title }} &bull; MOCA</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- If the site isn't responsive, you'll likely want to remove or adjust this -->
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">

	<!-- Include typography from FontDeck -->
	<script type="text/javascript">
		WebFontConfig = { fontdeck: { id: '58125' } };
		(function() {
			var wf = document.createElement('script');
			wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
				'://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();
	</script>

	<!-- Include typography from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css'>

</head>
<body>



	<!-- normal field -->
	<div data-qq="fern">lady</div>

	<!-- field with specified value -->
	<div data-qq="brownie" data-qq-value="scout">summertime</div>

	<!-- text value for this field -->
	<div data-qq="shirt"><em>grass</em></div>


	<!-- processing: raw  -- Gets straight HTML. -->
	<div data-qq="process[one]" data-qq-process="raw">
		<div class="humbug">
			some real stuff here
		</div>
	</div>

	<!-- processing: none -- No processing will get just text -->
	<div data-qq="process[two]">
		<div class="humbug">
			some real stuff here
		</div>
	</div>

	<!-- empty -->
	<div data-qq="empty[one]"></div>

	<!-- empty using attr -->
	<div data-qq="empty[two]" data-qq-value=""></div>

	<!-- empty using attr, but has text -->
	<div data-qq="empty[three]" data-qq-value="">some nothing</div>

	<!-- empty html -->
	<div data-qq="empty[four]"><span></span></div>


	<!-- array of items -->
	<ul>
		<li data-qq="tree[]">pine</li>
		<li data-qq="tree[]">fir</li>
		<li data-qq="tree[]">leafy</li>
		<li data-qq="tree[]">dead</li>
	</ul>

	<!-- nested objects -->
	<ol>
		<li>
			<ol>
				<li data-qq="furniture[chairs][]">stool</li>
				<li data-qq="furniture[chairs][]">lawn</li>
			</ol>
		</li>
		<li>
			<ol>
				<li data-qq="furniture[tables][]">desk</li>
				<li data-qq="furniture[tables][]">kiosk</li>
			</ol>
		</li>
	</ol>


	<!-- content -->
	<section data-qq-content>

		<!-- field within content -->
		<div data-qq="shutter">closed</div>

		<!-- ignored -->
		<aside data-qq-ignore>
			### ignored_marker ###
		</aside>

		<!-- tags -->
		<h1>alpha</h1>
		<h3>beta</h3>

		<!-- multiple h1 -->
		<h1>other</h1>

		### found_marker ###

		<!-- guess what this looks like after stripping html -->
		!!!<div><span>nohtml</span></div>!!!

	</section>





</body>
</html>
